html {
  scroll-padding-top: 6rem;
}

body {
  padding-top: 5rem;
  font-family: 'Raleway', sans-serif;
  background-image: url("../../images/Circles.png");
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: 100% auto;
}

h3 {
  color: #131b2b;
}

h4 {
  color: #5C77AD;
}

footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  bottom: 0;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container {
  margin-right: 0rem;
  margin-left: 0rem;
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

.full-width{
  width: 100%;
}

.gradient{
  background-color: rgb(60, 79, 118);
  background-image: linear-gradient(to right, #5C77AD 2.7%, #009CBB 53.38%, #83C5BE 89.08%);
  background-size: 100%;
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.background-circle-1{
  background-image: url("../../images/blueCircle.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 450px;
  height: 450px;
  margin: 0.25rem;
}

.background-circle-2{
  background-image: url("../../images/yellowCircle.png");
  background-repeat: no-repeat;
  background-position: left;
  width: 400px;
  height: 400px;
  margin-right: 0rem;
  margin-left: -4rem;
  margin-bottom: -100%;
}

.background-circle-3{
  background-image: url("../../images/greenCircle.png");
  background-repeat: no-repeat;
  background-position: left 100% bottom;
  background-size: 20rem auto;
}

.background-circle-4{
  background-image: url("../../images/blueCircle.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 450px;
  height: 450px;
  margin-top: 5rem;
  margin-right: 0rem;
  margin-left: -4rem;
  margin-bottom: -100%;
}

@media only screen and (max-width: 768px) {
  .background-circle-1, .background-circle-2, .background-circle-3, .background-circle-4{
    display: none;
  }
}
/* Padding */

.add_padding_top_1rem{
  padding-top: 1rem;
}

.add_padding_bottom_1rem{
  padding-bottom: 1rem;
}

.add_padding_top_2rem{
  padding-top: 2rem;
}

.add_padding_bottom_2rem{
  padding-bottom: 2rem;
}

.add_padding_left_2rem{
  padding-left: 2rem;
}

.add_padding_right_2rem{
  padding-right: 2rem;
}

/* Margin */

.add_margin_left_2rem{
  margin-left: 2rem;
}

.add_margin_right_2rem{
  margin-right: 2rem;
}

.add_margin_left_4rem{
  margin-left: 4rem;
}

.add_margin_right_4rem{
  margin-right: 4rem;
}

.neg_right_margin {
  margin-right: -500px;
}

.neg_bottom_margin {
  margin-bottom: -6rem;
}

@media (max-width: 768px) {
  .margin_top_mobile_adj{ 
    margin-top: 1rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid rgb(223, 223, 223);
  }
}
.neg_mobile_top_margin {
  margin-top: 1rem;
}

/* Navbar */
.navbar {
  padding: 1rem 2.5rem 1rem 2.5rem;
  background-color: white;
  /* border-bottom: 1px solid black; */
}

.fixed-top.scrolled{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 20px;
}

.navbar-brand {
  margin-right: 2.5rem;
}

.nav-item {
  margin-right: 2.5rem;
}

.nav-link:hover {
  color: #5C77AD;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

@media (max-width: 768px){
.navbar-collapse {
  background-color: white;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 8px 8px 28px;
  border-radius: 0.75rem;
}

.nav-item{
  margin-bottom: 0.5rem;
}
.nav-button a.button-primary{
  font-size: 1rem;
  font-weight: 500;
  color: black !important;
  align-items: center;
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  color: #000;
  cursor: pointer;
  min-height: 0;
  padding: 0.5rem 0rem;
  vertical-align: baseline;
  width: auto;
  letter-spacing: inherit;
}
}


.navbar-toggler-icon {background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(60, 79, 118, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}

/* Buttons */

.button-primary {
  align-items: center;
  background-color: rgb(60, 79, 118);
  border: none;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.025em;
  margin: 0;
  min-height: 2rem;
  padding: 0.8rem 1.5rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-primary:hover,
.button-primary:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.25) 8px 8px 28px;
  color: rgba(0, 0, 0, 0.65);
}

.button-primary:active {
  background-color: #131b2b;
}

#banner p{
  font-size: 1.1rem;
  font-weight: 400;
}

/*Form*/

.contact-form{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Images & Video */

video {
  box-shadow: rgba(0, 0, 0, 0.25) 8px 8px 28px;
}